/* Add your styles here */

html { background: #f8f4f4; color: #333; font-size: 18px; }

body { font-family: 'Nunito', sans-serif; }

.font-h1, .font-h2, .font-h3, .font-h4,
.font-h5, .font-h6, .font-body {
  font-family: 'Nunito', sans-serif;
}

.font-h1, .font-h2, .font-h3, .font-h4, .text-header {
  font-weight: 800;
}

.bg--white { background: white; }

.shadow { box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.25); }

.max-width--20 { max-width: 20rem; }

.button {
  cursor: pointer;
  color: white;
  background: linear-gradient(coral, #ce6946);
  border-radius: 0.25em;
  padding: 0.6em 1.2em;
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.25);
  transition: opacity 200ms ease-in-out;
}
.button:hover { opacity: 0.75; }
.button[disabled] { opacity: 0.5; }
.button--secondary { color: #ce6946; background: linear-gradient(#ffffff, #f0f0f0); }

.page { transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out; }
.page--invisible { opacity: 0; visibility: hidden; }